<section class="summary" id="summary" data-aos="fade-up">
<app-headline [icon]="'info'" [headlineTitle]="'SUMMARY'"></app-headline>

<br />
<p>
  I like challenging tasks and I adore working with new technologies. Such work
  really drives me.
</p>
<p>Main responsibilities:</p>
<ul>
  <li>
    Help guide the direction of front-end implementation, adhering to industry
    best-practices.
  </li>
  <li>
    Create sophisticated, interactive, and highly available web applications.
  </li>
  <li>Ensure code quality through best practices.</li>
  <li>Help evolve their common component library.</li>
  <li>Provide guidance on UX design.</li>
  <li>
    Integrate with various third-party libraries, applications and data sources.
  </li>
  <li>Provide input and estimates for planning.</li>
  <li>Mentor and provide support for team members.</li>
</ul>
</section>
