$bg: #eee;
// $text: #000;
$text: #000;
$subcolor: #666;

$bdtitle: 0.2rem #000 solid;
$font_size: .6rem;
$font_size_ls: 1rem;

// device-width<768px
$width: 20rem;

// device-width<768px
$width_ls: 40rem;