<div class="info">
      <div class="info__list">
        <p class="info__item">
          <mat-icon
            class="info__icon"
            aria-hidden="false"
            aria-label="Example home icon"
            appearance="outline"
          >
            location_on
          </mat-icon>
          ZAPORIZHZHIA, UKRAINE
        </p>
        <p class="info__item">
          <mat-icon
            class="info__icon"
            aria-hidden="false"
            aria-label="Example home icon"
            appearance="outline"
          >
            mail_outline
          </mat-icon>
          ivanmalyarevich@gmail.com
        </p>
        <p class="info__item">
          <mat-icon
            class="info__icon"
            aria-hidden="false"
            aria-label="Example home icon"
            appearance="outline"
          >
            phone
          </mat-icon>
          +380730956663
        </p>
      </div>
    </div>