<div class="skill">
  <div *ngIf="position == 'right'" class="skill__pointer--right">
  </div>
    <div class="skill__list"
      data-aos="fade-left"
      data-aos-anchor=".skill__end"
      data-aos-delay="800"
    >
      <div *ngFor="let skill of skillData">
        <div class="skill__name">{{ skill.name }}</div>
        <progress class="skill__progress" value={{skill.progression}} max="100"></progress>
      </div>
    </div>
    <div *ngIf="position == 'left'" class="skill__pointer">
    </div>
</div>




