<div id="myDiv" class="container">
  <header class="header" id="header">
    <app-logo></app-logo>

    <app-info></app-info>

    <div class="btn__start">
      <a href="#summary">
        <mat-icon
          class="animation--bounce"
          aria-hidden="false"
          aria-label="Example home icon"
        >expand_more
        </mat-icon
        >
      </a>
    </div>
  </header>

  <section class="summary" id="summary">
    <app-summary data-aos="fade-up"></app-summary>
  </section>


  <section class="skills">
    <div class="skill__items--right">
      <app-headline
        data-aos="fade-up"
        data-aos-delay="400"
        [icon]="'psychology'"
        [headlineTitle]="'HARD SKILLS'"
        [pointer]="'right'"
      ></app-headline>
      <app-skill
        class="skill__end"
        id="hard-skill"
        data-aos="fade-up"
        data-aos-delay="400"
        [skillData]="hardskills"
        [position]="'right'"
      ></app-skill>
    </div>

    <div class="skill__items">
      <app-skill
        id="soft-skill"
        data-aos="fade-up"
        data-aos-delay="400"
        [skillData]="softskills"
        [position]="'left'"
      ></app-skill>
      <app-headline
        data-aos="fade-up"
        data-aos-delay="400"
        [icon]="'connect_without_contact'"
        [headlineTitle]="'SOFT SKILLS'"
        [pointer]="'left'"
      ></app-headline>
    </div>
  </section>

  <br/>

  <div class="profedu">
    <div class="profession" id="profession">
      <app-headline
        class="headline-prof"
        [icon]="'work_outline'"
        [headlineTitle]="'Professional Experience'"
      >
      </app-headline>

      <div *ngFor="let prof of experience"
           class="timeline__content {{prof.id}}"
           data-aos="fade-down"
           data-aos-anchor=".headline-prof"
           data-aos-delay="200"
      >
        <div class="marker--left">
          <div class="br__dashed"></div>
          <div class="br__ball"></div>
        </div>
        <div class="timeline__list">
          <div class="headline__text">{{prof.place}}</div>
          <b>{{prof.name}}</b>
          <span>{{prof.period}}</span>
        </div>
      </div>

    </div>
    <div class="education" id="education">
      <app-headline
        class="headline-edu"
        data-aos="fade-right"
        [icon]="'school'"
        [headlineTitle]="'Education'"
      ></app-headline>
      <div *ngFor="let prof of education"
           class="timeline__content {{prof.id}}"
           data-aos="fade-down"
           data-aos-anchor=".headline-prof"
           data-aos-delay="200"
      >
        <div class="marker--left">
          <div class="br__dashed"></div>
          <div class="br__ball"></div>
        </div>
        <div class="timeline__list">
          <div class="headline__text">{{prof.place}}</div>
          <b>{{prof.graduate}}: {{prof.name}}</b>
          <span>{{prof.period}}</span>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>
</div>
